.button {
    margin: 0;
    padding: 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    border: 2px solid;
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.3s;
    width: 170px;
    &_white {
        color: black;
        background-color: white;
        border-color: $accent;
        &:hover {
            color: white;
            background-color: $accent;
        }
    }
    &_green {
        color: white;
        background-color: $accent;
        border-color: $accent;
        width: 130px;
        &:hover {
            color: $accent;
            background-color: white;
            border-color: $accent;
        }
    }
    &_white-border {
        color: white;
        background-color: $accent;
        border-color: white; 
        &:hover {
            color: $accent;
            background-color: white;
        }
    }
}

