.footer {
    background-color: $gray;
    &__container {
        max-width: 1110px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    &__links {
        background-color: #fff;
        padding: 38px 0;
        
        font-size: 14px;
    }
    &__socials {
        display: flex;    
    }
    &__icon {
        display: block;
        width: 45px;
        height: 45px;
        border: 2px solid $accent;
        border-radius: 50%;
        text-align: center;
        margin-right: 10px;
        background-repeat: no-repeat; 
        background-position: center;
        transition: all 0.3s;
        &:hover {
            box-shadow: 0px 0px 3px 4px $accent;
        }
        &_youtube {
           background-image: url(../icons/youtube.svg);
        }
        &_vk {
           background-image: url(../icons/vk.svg); 
        }
        &_facebook {
           background-image: url(../icons/facebook.svg);
        }
        &_instagram {
           background-image: url(../icons/instagram.svg);  
        }
    }
    &__phone {
        display: flex;
        align-items: center;
        min-width: 300px;
        justify-content: space-between;
       a {
            text-decoration: none;
            color: black;
            padding: 12px 0;
            &:hover {
                box-shadow: 0px 1px 0px black;
            }
         }
    }
    &__info {
            padding: 25px 0;
            font-size: 12px;
            line-height: 14px;
    }
}

@media (max-width:1200px) {
    .footer {
        &__container {
            max-width: 95vw;
            p {
                max-width: 44vw;
            }
        }
        &__phone {
            min-width: 290px;
        }
        &__icon {
            width: 40px;
            height: 40px;
        }
    }
}
@media (max-width:800px) {
    .footer {
        &__container {
            flex-direction: column;

        }
        &__socials {
            margin-bottom: 25px;
        }
        &__phone {
            margin-top: 25px;
        }
        p {
            margin-bottom: 15px;
            max-width: 75vh;
            align-self:start;
        }
    }
}

@media (max-width:480px) {
    .footer {
         
        &__phone {
            flex-direction: column;
            a {
                margin-bottom: 12px;
            }
        }
    }
}