* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
            transition: all 0.3s;
}
h1 {
        color: #66C05D;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        letter-spacing: 0.1em;
    }
